extends layout

block title
  h1.header= title
  //- p Welcome to #{title}

block content 
  div.chatRoom
    ul.chatMessages
      each val, ind in messages
        //li= 'Message ' + ind
        ul.message
          li.userName= val.user
          li= val.text
          li.timeStamp= val.added.toLocaleTimeString("en-GB", {hour: '2-digit', minute:'2-digit'})