extends layout

block title
  h1.header= title
  //- p Welcome to #{title}

block content 
  div.chatRoom
    ul.chatMessages
      each val, ind in messages
        //li= 'Message ' + ind
        ul.message
          li= 'Text: ' + val.text
          li= 'User: ' + val.user
          li= 'Added: ' + val.added.toDateString()